main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#formContato{
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem;
    width: 50%;
    margin: 0;
    border: solid 3px #ddd;
    border-radius: 20px;
}

label{
    font-size: 14px;
}

textarea{
    height: 5rem;
}

input, textarea{
    padding: 10px;
    border: solid 0.1px #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    resize: none;
}

button{
    font-size: 14px;
    border: solid 1px #ddd;
    border-radius: 10px;
    align-self: center;
    padding: 0.5rem 3rem;
    background-color: #fff;
}

button:hover{
    background-color: #ddd;
    transition: 0.3s;
    scale: 1.1;
}

.erro {
    color: red;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    transition: 0.2s;

}
.sucesso {
    color: green;
    font-size: 1em;
    font-weight: bold;
    align-self: center;
}

@media ( max-width: 480px ){
    #formContato{
        width: 90%;
        scale: 0.9;
    }
}

