#formContato{
    display: flex;
    flex-direction: column;
    margin: 0;
}

label{
    font-size: 14px;

}


input, textarea{
    padding: 10px;
    border: solid 1px;
    margin-bottom: 10px;
}

button{
    font-size: 14px;
    border: none;
    border-radius: 20px;
    width: 10vh;
    align-self: center;
    padding: 5px;
    background-color: #fff;
}

button:hover{
    background-color: #555;
}

